@model JustAutoPartsProject.Models.Order

@{
    ViewBag.Title = "MyBill";
}

<h2>MyBill</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Quantity")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.part.Quantity)
        </td>
        <td>
            @Html.DisplayFor(model => model.part.Category)
        </td>
        <td>
            @Html.DisplayFor(model => model.part.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.part.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.part.Price)
        </td>
        <td></td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bill.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bill.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bill.BillDate)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Bill.Value)
        </td>
        <td>
            @Html.DisplayFor(model => model.Bill.Status)
        </td>
        <td>
            @Html.DisplayFor(model => model.Bill.BillDate)
        </td>
        <td></td>
    </tr>
</table>
<div>
@{ JustAutoPartsProject.Models.modelContext DB = new JustAutoPartsProject.Models.modelContext();
    int id = (int)Session["Id"];
    var user = DB.Users.SingleOrDefault(x => x.UserID.Equals(id)); }
<dt>
    @Html.DisplayName("UserName : ")
</dt>
<dd>
    @Html.DisplayName(@user.UserName)
</dd>
<dt>
    @Html.DisplayName("Address : ")
</dt>
<dd>
    @Html.DisplayName(@user.Address)
</dd>
<dt>
    @Html.DisplayName("Phone Number : ")
</dt>
<dd>
    @Html.DisplayName(@user.PhoneNum)
</dd>
</div>
<br>
<div class="col text-center">
    <a href="@Url.Action("Dashboard", "Home")" class="btn btn-primary"> Complete Transaction </a>
</div>
